// Small
.icon-margin-small--right {
    margin-right: $s-size;
}

.icon-margin-small--left {
    margin-left: $s-size;
}

.icon-margin-small--top {
    margin-top: $s-size;
}

.icon-margin-small--bottom {
    margin-bottom: $s-size;
}

// Medium
.icon-margin-medium--right {
    margin-right: $m-size;
}

.icon-margin-medium--left {
    margin-left: $m-size;
}

.icon-margin-medium--top {
    margin-top: $m-size;
}

.icon-margin-medium--bottom {
    margin-bottom: $m-size;
}

// Large
.icon-margin-large--right {
    margin-right: $l-size;
}

.icon-margin-large--left {
    margin-left: $l-size;
}

.icon-margin-large--top {
    margin-top: $l-size;
}

.icon-margin-large--bottom {
    margin-bottom: $l-size;
}